form button, div.description button {
    align-self: center;
    padding: 0.5rem 1rem;
    width: max-content;
    border-style: none;
    background-color: darkslateblue;
    color: white;
    border-radius: 7px;
}
form button:focus, div.description button:focus {
    outline-color: rgb(126, 108, 246);
}