form {
    width: 90%;
}
form, form div {
    display: flex;
    flex-direction: column;
}

form div > * {
    border-radius: 7px;
}
form div > *:focus {
    outline-color: rgb(126, 108, 246);
}

form input {
    max-width: 100%;
    padding: 2%;
    border: 1px grey solid;
}   